@import url(https://fonts.google.com/specimen/Inter?query=inter);


:root{
    --primary-color: #351E29;
    --secondary-color: #5B3347;
    --accent1-color: #FFC259;
    --accent2-color: #F0F0F0;

    --heading-font: "Inter", serif;
    --paragraph-font: "Inter", serif;

    --nav-background-color: #FFC259;
    --nav-link-color: #f0f0f0;
    --nav-hover-link-color: #351E29;
    --nav-hover-background-color: #755f6a;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    color: var(--accent1-color);
}
p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}