html {
  background-color: rgb(131, 53, 151);
  font-size: 30px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

main {
  max-width: 1400px;
  background-color: #423523;
  padding: 3%;
  text-align: center;
  color: white;
}

aside {
  width: 50%;
  margin: 30px auto;
  border: rgba(48, 28, 32, 0.877);
  padding: 50px 20px 20px 20px;
  text-align: justify;
  background-color: #423523;
  color: wheat;

}
h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(236, 233, 233 );
}

h2 {
  color: beige;
}

body {
  display: block;
  width: 1440px;
  margin: 0 auto;
  background-color: #201b14;
  padding: 20px 50px 100px 50px;
}
/* p,
li {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  color: white;
} */

img {
  display: block;
  height: 100%;
  width: 100%;
  border: 10px solid rgb(255, 255, 255);
  margin: 0 auto;
}

footer {
  display: block;
  margin: 0 auto;
  color: beige;
  text-align: center;
}